<section class="home-screen {{selectedlanguage =='Arabic (عربي)' ? 'left-to-right':''}}" [ngClass]="{'modal-patch': modalPatch }">
    <!-- button to measure height -->


    <!-- Modal -->
    <div class="modal fade" tabindex="-1" #heightModal>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content position-relative bg-white" *ngIf="currentBanner" style="border-radius: 8px;">
                <div class="modal-body text-center p-0 position-relative">
                    <!-- Close icon -->
                    <button type="button" class="button-close position-absolute" style="top: 0px; right: 2px; z-index: 2; color: #f3f3f3;font-size: x-large;" aria-label="Close" (click)="showNextBanner()">
                        <span aria-hidden="true"><i class="fa-solid fa-xmark"></i></span>
                    </button>

                    <!-- Banner image -->
                    <div class="gallery-banner-img" style="position: relative; width: 100%;">
                        <img [src]="'https://automatebuddy.oss-ap-southeast-3.aliyuncs.com/VilliyantGroup/top-banner/' + currentBanner.bannerId + '.png'" alt="banner" style="width: 100%; height: auto; cursor: pointer;" (click)="onBannerClick(currentBanner.banner_TriggerId)"
                        />

                        <!-- Timer positioned inside image container at the bottom -->
                        <div *ngIf="showTimer" class="countdown-timer-banner">
                            
                            <!-- Hours -->
                            <div>
                                <div class="timer-boxes">
                                    <div class="timer-block" *ngFor="let h of timer.hours.split('')">
                                        <div class="time-value">{{ h }}</div>
                                    </div>
                                </div>
                                <h6 class="time-label">Hrs</h6>
                            </div>


                            <!-- Minutes -->
                            <div>
                                <div class="timer-boxes">
                                    <div class="timer-block" *ngFor="let m of timer.minutes.split('')">
                                        <div class="time-value">{{ m }}</div>
                                    </div>
                                </div>
                                 <h6 class="time-label">Min</h6>
                            </div>


                            <!-- Seconds -->
                            <div>
                                <div class="timer-boxes">
                                    <div class="timer-block" *ngFor="let s of timer.seconds.split('')">
                                        <div class="time-value">{{ s }}</div>
                                    </div>
                                </div>
                                <h6 class="time-label">Sec</h6>
                            </div>


                        </div>



                    </div>

                    
 
 
   


                </div>
            </div>
        </div>
    </div>


    <!-- USER TITLE -->
    <div class="user-title">
        <div class="d-flex align-items-center justify-content-between mb-2">
            <div class="title">
                <h4 style="color: #1e1e1e;">{{selectedlanguage =='Arabic (عربي)' ?
          'مرحباً':'Hello'}},</h4>
                <h4 class="fw-bold name-slider">
          {{ userdetails?.fullName ? userdetails?.fullName : 'Guest' }}
        </h4>
            </div>
            <div class="card-status" *ngIf="createdBy!=0">
                <a href="/MyCart/{{createdBy}}/{{HubId}}">
                    <span class="card-count">{{mycart?.length}}</span>
                    <img src="/assets/img/icons/shopping-cart.svg" alt="search" />
                </a>
            </div>
        </div>
        <!-- COMMON SEARCH BOX -->
        <div class="common-search-box gap-2">
            <div class="common-search-input w-100">

                <form (ngSubmit)="search()" style="background-color: #f2f8f9 ;">
                    <span  class="search-icon" alt="search" ><i class="fa-solid fa-magnifying-glass"></i>        </span>
            <input type="text" [placeholder]="placeholderText" name="searchValue" id="searchValue" [(ngModel)]="searchValue" />
                </form>

                <div style="display: none;">{{transcript$ | async}}</div>
            </div>
            <a href="/AI/{{createdBy}}" [routerLinkActive]="['is-active']">
                <i class="fa-solid fa-robot"></i>

            </a>
            <!-- <a href="#" class="sort-filter">
        <img src="/assets/img/icons/sort-filters.png" alt="filter" />
    </a> -->
        </div>
    </div>

    <!-- BANNER SLIDER WRAPPER -->
    <div class="banner-slider-wrapper">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="mainBanner">
            <div ngxSlickItem class="slide" *ngFor="let baner of topBanner">
                <div *ngIf="baner.banner_TriggerId.substring(0,3)!='MNC'">
                    <div class="banner-img">
                        <a (click)="proddetails(baner.banner_TriggerId)">
                            <img src="https://automatebuddy.oss-ap-southeast-3.aliyuncs.com/VilliyantGroup/top-banner/{{baner.bannerId}}.png" alt="baner" width="100%" />
                        </a>
                    </div>
                </div>
                <div *ngIf="baner.banner_TriggerId.substring(0,3)=='MNC'">
                    <div class="banner-img">
                        <a href="/Main-Category/SubCategory/ProductList/{{baner.banner_TriggerId}}/{{createdBy}}/{{HubId}}/asc/0/0">
                            <img src="https://automatebuddy.oss-ap-southeast-3.aliyuncs.com/VilliyantGroup/top-banner/{{baner.bannerId}}.png" onerror="this.onerror=null; this.src='assets/img/category/no-image.png'" alt="baner" width="100%" />
                        </a>
                    </div>
                </div>
            </div>
        </ngx-slick-carousel>
    </div>

    <!-- BANNER SLIDER WRAPPER -->

    <!-- PAGE COMMON WRAPPER  -->
    <div class="page-common-wrapper">
        <div class="page-common-header">
            <div>
                <h2>{{selectedlanguage =='Arabic (عربي)' ?
          'تسوق حسب الفئات':'Shop by category'}} </h2>
            </div>
            <div>
            </div>
        </div>

        <div>
            <div class="banner-slider-wrapper">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="categorySlider">
                    <div ngxSlickItem class="slide" *ngFor="let mainCategory of getmaincategory">

                        <div class="category-img-wrapper">
                            <div class="clickable" (click)="getAllCategory(mainCategory.mainCategoryId)">
                                <div class="category-img">
                                    <img src="https://automatebuddy.oss-ap-southeast-3.aliyuncs.com/VilliyantGroup/category-images/{{mainCategory.mainCategoryId}}.png" onerror="this.onerror=null; this.src='assets/img/category/no-image.png'" alt="items" width="100%" />
                                </div>
                                <h5 class="text-center text-bold-600" style="color: #1e1e1e ;">{{mainCategory.name}}</h5>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>

                <!-- <div class="row">
    <div class="col-6 col-md-4 col-lg-2" *ngFor="let mainCategory of getmaincategory"
      (click)="getAllCategory(mainCategory.mainCategoryId)">
      <div class="common-card card">
        <div class="top card-body">
          <img
            src="https://automatebuddy.oss-ap-southeast-3.aliyuncs.com/VilliyantGroup/category-images/{{mainCategory.mainCategoryId}}.png"
            onerror="this.onerror=null; this.src='assets/img/category/no-image.png'" alt="items" width="100%" />
        </div>
        <div class="bottom card-content">
          <h3 class="text-center text-bold-600">{{mainCategory.name}}</h3>
        </div>
      </div>
    </div>
  </div> -->
            </div>
            <!-- <div class="video">

                <a>
                    <video style="border-radius: 8px;" #videoElement src="https://automatebuddy.oss-ap-southeast-3.aliyuncs.com/VilliyantGroup/video/Purple%20and%20White%20Modern%20Geometric%20Animated%20Youtube%20Channel%20Intro%20Video.mp4" width="100%" controls autoplay
                    muted (loadedmetadata)="handleAutoPlay(videoElement)" playsinline>
                        Your browser does not support the video tag.
                    </video>
                </a>

            </div> -->
            <div class="video">
  <video
    #videoElement
    [src]="videoSrc"
    width="100%"
    controls
    muted
    autoplay
    playsinline
    style="border-radius: 8px;"
  >
    Your browser does not support the video tag.
  </video>
</div>

        </div>

    </div>

    <!-- PAGE COMMON WRAPPER  -->
    <div class="page-common-wrapper mb-4 mt-3" *ngIf="feature?.length >0">
        <div class="page-common-header pt-0 pb-0">
            <div>
                <h2>{{selectedlanguage =='Arabic (عربي)' ?
          'منتجات مميزة':'Featured products'}}</h2>
            </div>
            <div>
                <a href="javascript:void(0)" (click)="getAllfeature()">{{selectedlanguage =='Arabic (عربي)' ?
          ' اظهار الكل':'See all'}}</a>
            </div>
        </div>
        <!-- COMMON CUSTOM SLIDER -->
        <div class="common-custom-slider">
            <div class="common-card-box" *ngFor="let feat of feature">

                <div class="ribbon-box-wrapper" *ngIf="feat.offers?.length === 1">
                    <div class="ribbon" *ngIf="feat.offers?.[0]?.offerTypes === '1'">
                        <span>
              {{ (((feat.manufracture - feat.sellingPrice) / feat.manufracture)
              * 100) | number: '1.0-0' }}% OFF
            </span>
                    </div>

                    <div class="buy-get-tag" *ngIf="feat.offers?.[0]?.offerTypes === '6'">
                        <div>
                            <img src="../../assets/img/buy-get-tag.png" alt="tag" />
                        </div>
                    </div>

                </div>
                <div class="top-img">
                    <div class="card-img">
                        <a href="/Main-Category/SubCategory/Category/Products/{{feat.itemId}}/{{feat.mainCategory}}/{{createdBy}}/{{HubId}}/asc/0/0">
                            <img src="https://automatebuddy.oss-ap-southeast-3.aliyuncs.com/VilliyantGroup/Product-image/{{feat.itemId}}_0.png" onerror="this.onerror=null; this.src='assets/img/category/no-image.png'" alt="items" />
                        </a>
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="card-content">
                        <div class="add-cart">
                            <a href="/Main-Category/SubCategory/Category/Products/{{feat.itemId}}/{{feat.mainCategory}}/{{createdBy}}/{{HubId}}/asc/0/0">
                                <h3>{{feat.pluName}}</h3>
                            </a>
                            <!-- <h6>₹ {{feat.sellingPrice}}</h6> -->
                            <p style="color: #1e1e1e;">₹ {{feat.sellingPrice}} <span class="offer-amount" *ngIf="feat.offers?.length == 1">{{feat.manufracture}}</span></p>
                            <!-- <p *ngIf="feat?.stockQty < 10 && feat?.stockQty != 0" class="fw-bold" style="font-size: 12px;color: #797979; margin: 0;">
             {{selectedlanguage=='Arabic (عربي)'?'مخزون محدود':'Limited Stock'}}
            </p> -->
                            <a *ngIf="feat.isInCart == 'false' && feat.stockQty != 0" class="add-cart-bttn" (click)="addToCart(feat)">{{selectedlanguage
                =='Arabic (عربي)'?'أضف إلى السلة':'Add to Bag'}}</a>
                            <p *ngIf="feat.stockQty == 0" class="text-danger">
                                {{selectedlanguage=='Arabic (عربي)'?'إنتهى من المخزن':'Out Of Stock'}}
                            </p>
                            <a *ngIf="feat.isInCart == 'true' && feat.relation != 1 && feat.stockQty != 0" class="add-cart-bttn added-bttn" (click)="addToCart(feat)">
                {{selectedlanguage =='Arabic (عربي)'?'مضاف':'Added'}} <i
                  class="fa-solid fa-pen-to-square"></i></a>
                            <div class="add-cart-box" *ngIf="feat.isInCart == 'true' && feat.relation == 1 && feat.stockQty !=0">
                                <div *ngFor="let cart of mycart">
                                    <div class="product-qty" *ngIf="feat.itemId == cart.itemId">
                                        <span class="minus" (click)="handleMinus(cart)"><i
                        class="fa-solid fa-minus"></i></span>
                                        <input type="number" class="count" id="{{cart.id + '_productId'}}" min="0" oninput="this.value =!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : ''" value="{{cart.quantity?cart.quantity:1}}" (keyup)="onInputUpdateqty(cart,$event.target)"
                                        />
                                        <span class="plus" (click)="handlePlus(cart)"><i
                        class="fa-solid fa-plus"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <a class="added-wish-list" href="javascript:void(0)">
          <i *ngIf='feat.isWishlisted == "false"' class='fa-regular fa-heart' style='font-size:20px'
            (click)="addedWishlist(feat)"></i>
          <i *ngIf='feat.isWishlisted == "true"' class='fa-solid fa-heart' style='font-size:20px ;color: red'
            (click)="removeWishlist(feat.wishlistId)"></i>
        </a> -->
            </div>
        </div>
    </div>

    <!-- PAGE COMMON WRAPPER -->
    <app-recentlyviewed></app-recentlyviewed>
    <div class="banner-slider-wrapper middle-banner">

        <div class="slide" *ngFor="let baner of middlewareBanner">
            <div *ngIf="baner.banner_TriggerId.substring(0,3)!='MNC'">
                <div class="banner-img mb-2" style="width: 100%;">
                    <a (click)="proddetails(baner.banner_TriggerId)">
                        <img src="https://automatebuddy.oss-ap-southeast-3.aliyuncs.com/VilliyantGroup/top-banner/{{baner.bannerId}}.png" alt="baner" width="100%" />
                    </a>
                </div>
            </div>
            <!-- <div *ngIf="baner.banner_TriggerId.substring(0,3)=='MNC'">
        <div class="banner-img">
          <a
            href="/Main-Category/SubCategory/ProductList/{{baner.banner_TriggerId}}/{{createdBy}}/{{HubId}}/asc/0/0">
            <img
              src="https://automatebuddy.oss-ap-southeast-3.aliyuncs.com/VilliyantGroup/top-banner/{{baner.bannerId}}.png"
              onerror="this.onerror=null; this.src='assets/img/category/no-image.png'"
              alt="baner" width="100%" />
          </a>
        </div>
      </div> -->
        </div>
    </div>

    <!-- BOTTOM BANNER -->
    <div class="bottom-banner-slider">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="bottomBannerSlider">
            <!-- <div ngxSlickItem class="slide" *ngFor="let baner of bottomBanner">
        <div *ngIf="baner.banner_TriggerId.substring(0,3)!='MNC'">
          <div class="banner-img">
            <a (click)="proddetails(baner.banner_TriggerId)">
              <img
                src="https://automatebuddy.oss-ap-southeast-3.aliyuncs.com/VilliyantGroup/top-banner/{{baner.bannerId}}.png"
                alt="baner" width="100%" />
            </a>
          </div>
        </div>
        <div *ngIf="baner.banner_TriggerId.substring(0,3)=='MNC'">
          <div class="banner-img">
            <a
              href="/Main-Category/SubCategory/ProductList/{{baner.banner_TriggerId}}/{{createdBy}}/{{HubId}}/asc/0/0">
              <img
                src="https://automatebuddy.oss-ap-southeast-3.aliyuncs.com/VilliyantGroup/top-banner/{{baner.bannerId}}.png"
                onerror="this.onerror=null; this.src='assets/img/category/no-image.png'"
                alt="baner" width="100%" />
            </a>
          </div>
        </div>
      </div> -->
            <div ngxSlickItem class="slide" *ngFor="let image of feature">
                <div class="image-wrapper" style="background-color: #ffff;">


                    <a href="/Main-Category/SubCategory/Category/Products/{{image.itemId}}/{{image.mainCategory}}/{{createdBy}}/{{HubId}}/asc/0/0">
                        <img style="background-color: #ffff;" src="https://automatebuddy.oss-ap-southeast-3.aliyuncs.com/VilliyantGroup/Product-image/{{image.itemId}}_0.png" alt="Banner Image" />

                    </a>
                    <div>
                        <h3 class="product-title">{{image.pluName}}</h3>
                        <h2 class="product-price"><span>₹ </span>{{image.sellingPrice}}</h2>

                    </div>
                </div>
            </div>
        </ngx-slick-carousel>
    </div>

    <!-- GALLERY BANNER -->
    <!-- <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="categorySlider">
    <div ngxSlickItem class="slide" *ngFor="let baner of bottomBanner">
       <div *ngIf="baner.banner_TriggerId.substring(0,3)!='MNC'">
         <div class="banner-img">
           <a (click)="proddetails(baner.banner_TriggerId)">
             <img
               src="https://automatebuddy.oss-ap-southeast-3.aliyuncs.com/VilliyantGroup/top-banner/{{baner.bannerId}}.png"
               alt="baner" width="100%" />
           </a>
         </div>
       </div>
       <div *ngIf="baner.banner_TriggerId.substring(0,3)=='MNC'">
         <div class="banner-img">
           <a
             href="/Main-Category/SubCategory/ProductList/{{baner.banner_TriggerId}}/{{createdBy}}/{{HubId}}/asc/0/0">
             <img
               src="https://automatebuddy.oss-ap-southeast-3.aliyuncs.com/VilliyantGroup/top-banner/{{baner.bannerId}}.png"
               onerror="this.onerror=null; this.src='assets/img/category/no-image.png'"
               alt="baner" width="100%" />
           </a>
         </div>
       </div>
     </div>
     </ngx-slick-carousel> -->
    <div class="gallery-banner">
        <div class="gallery-banner-img" *ngFor="let baner of bottomBanner">
            <div *ngIf="baner.banner_TriggerId.substring(0,3)!='B'">


                <a (click)="getAllCategory(baner.banner_TriggerId)">
                    <img src="https://automatebuddy.oss-ap-southeast-3.aliyuncs.com/VilliyantGroup/top-banner/{{baner.bannerId}}.png" alt="banner" />
                </a>
            </div>
        </div>
    </div>
    <div class="banner-slider-wrapper middle-banner">

        <div style="padding-top: 2px;" class="slide" *ngFor="let baner of communityBanner">
            <div *ngIf="baner.banner_TriggerId.substring(0,3)!='POPUP'" style="padding: 5px 2px;">
                <div class="banner-img mb-2" style="width: 100%;">
                    <a [href]="'http://BubbleUp-url.com'" target="_blank">
                        <img src="https://automatebuddy.oss-ap-southeast-3.aliyuncs.com/VilliyantGroup/top-banner/{{baner.bannerId}}.png" alt="baner" width="100%" />
                    </a>
                </div>
            </div>


            <!-- <div *ngIf="baner.banner_TriggerId.substring(0,3)=='MNC'">
        <div class="banner-img">
          <a
            href="/Main-Category/SubCategory/ProductList/{{baner.banner_TriggerId}}/{{createdBy}}/{{HubId}}/asc/0/0">
            <img
              src="https://automatebuddy.oss-ap-southeast-3.aliyuncs.com/VilliyantGroup/top-banner/{{baner.bannerId}}.png"
              onerror="this.onerror=null; this.src='assets/img/category/no-image.png'"
              alt="baner" width="100%" />
          </a>
        </div>
      </div> -->
        </div>
    </div>
    <!-- SELECT VARIANT -->
    <div class="select-variant" [ngClass]="{ 'product-variant': variantView }">
        <div class="variant-header">
            <h2>{{selectedlanguage =='Arabic (عربي)' ?'اختر واحدة':'Choose One'}}</h2>
            <a (click)="closeVariant()"><i class="fa-solid fa-xmark"></i></a>
        </div>
        <div class="variant-body">
            <div class="variant-product">
                <div class="img">
                    <img src="{{displayImg}}" onerror="this.onerror=null; this.src='assets/img/category/no-image.png'" alt="product" />
                </div>
                <div>
                    <h5>{{ itemName }}</h5>
                    <h4>₹ {{ selectedPrice }}</h4>
                </div>
            </div>

            <div class="variants-details">
                <h2>{{selectedlanguage =='Arabic (عربي)'
          ?'المتغيرات:':'Variants:'}}</h2>
                <div class="variants-details-wrapper">
                    <div class="variants-card" *ngFor="let v of cartlist?.pricelist;let i=index;">
                        <!-- <div class="variants-card-img" (click)="varientChange(v.sellingPrice, v.priceId,i, v.itemId,v.stockQty)"
              [ngClass]="{ active: v.sellingPrice == selectedPrice }"><i class="fa-solid fa-circle-check active-check"
                *ngIf="v.ishubMap == 'true'"></i>
              <img src="{{v.imagePath}}" alt="variant" />
            </div> -->
                        <div class="variants-item circle" (click)="varientChange(v.sellingPrice, v.priceId,i, v.itemId,v.stockQty)" [ngClass]="{ active: v.sellingPrice == selectedPrice }">
                            <i class="fa-solid fa-circle-check active-check" *ngIf="v.ishubMap == 'true'"></i>
                            <div class="variant-name" *ngIf="!v.displayWithImg">{{ v.size }} {{ (v.measurement =='NOVAR' || 'Ut') ? '' : v.measurement }}
                            </div>
                            <img *ngIf="v.displayWithImg" src="{{v.imagePath}}" onerror="this.onerror=null; this.src='assets/img/category/no-image.png'" alt="variants">
                        </div>
                        <h3>{{ v.size }}</h3>
                        <div class="continue-bttn">
                            <div class="continue-bttn-divide">
                                <button type="button" class="btn btn-dark w-100" (click)="continueProduct()" *ngIf="v.ishubMap == 'false' && v.priceId == selectedSize  && !isProductOutOfStock">{{selectedlanguage =='Arabic (عربي)' ?'أضف إلى السلة':'Add to Bag'}}</button>
                                <div *ngFor="let cart of mycart">
                                    <div class="product-qty" *ngIf="v.ishubMap == 'true' && cart.pattern == selectedSize  && !isProductOutOfStock">
                                        <span class="minus" (click)="handleMinus(cart)"><i
                        class="fa-solid fa-minus"></i></span>
                                        <input type="number" class="count" id="{{cart.id + '_productId'}}" value="{{cart.quantity?cart.quantity:1}}" (keyup)="onInputUpdateqty(cart,$event.target)" min="0" oninput="this.value =!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : ''"
                                        />
                                        <span class="plus" (click)="handlePlus(cart)"><i
                        class="fa-solid fa-plus"></i></span>
                                    </div>
                                </div>
                                <p *ngIf="isProductOutOfStock" class="text-danger">
                                    {{selectedlanguage=='Arabic (عربي)'?'إنتهى من المخزن':'Out Of Stock'}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>

        </div>

    </div>

</section>
<!-- BOTTOM LAYOUT -->
<!-- <app-bottom-layout></app-bottom-layout> -->